.text-input-area{
    position: relative;
    height: 45px;
    margin: 5px;
    margin-bottom: 15px;
}
.text-input-area input{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1.5px solid silver;
    padding: 10px;
    color: var(--grey-color);
    outline: none;
    font-size: 17px;
}
.text-input-label{
    position: absolute;
    left: 0;
    bottom: 13px;
    font-size: 16px;
    padding-left: 10px;
    color: var(--grey-color);
    transition: all 0.5s ease;
    pointer-events: none;
}
.text-input-area input:focus ~ .text-input-label,
.text-input-area input:valid ~ .text-input-label{
    color: var(--primary-color);
    transform: translateY(-20px);
    font-size: 9px;
}
.text-input-area input + .text-input-underline{
    position: absolute;
    bottom: 0;
    height: 1.5px;
    width: 100%;
   
}

.text-input-area input + .text-input-underline::before{
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    height: 1.5px;
    transform: scaleX(0);
    width: 100%;
    transition: transform 0.3s ease;
}
.text-input-area input:focus ~ .text-input-underline::before,
.text-input-area input:valid ~ .text-input-underline::before{
    transform: scaleX(1);
}