.textarea-area{
    position: absolute;
    margin: 5px;
    padding-top: 10px;
}
.textarea-area textarea{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1.5px solid silver;
    outline: none;
    color: var(--grey-color);
}
.textarea-area .textarea-label{
    color: var(--grey-color);
    position: absolute;
    left: 0;
    bottom: 13px;
    pointer-events: none;
    padding-left: 10px;
    transition: all 0.5s ease;
}
.textarea-area textarea:focus ~ .textarea-label,
.textarea-area textarea:valid ~ .textarea-label{
    color: var(--primary-color);
    transform: translateY(-85px);
    font-size: 9px;
}

.textarea-area textarea + .textarea-underline{
    position: absolute;
    bottom: 4px;
    height: 1.5px;
    width: 100%;
   
}

.textarea-area textarea + .textarea-underline::before{
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    height: 1.5px;
    transform: scaleX(0);
    width: 100%;
    transition: transform 0.3s ease;
}
.textarea-area textarea:focus ~ .textarea-underline::before,
.textarea-area textarea:valid ~ .textarea-underline::before{
    transform: scaleX(1);
}